@tailwind base;
@tailwind components;
@tailwind utilities;


.poppins {
  font-family: "Poppins", serif;
}
.roboto-slab {
  font-family: "Roboto Slab", serif;
}
.playfair-display{
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
}
.lobster{
  font-family: 'Lobster';
}
.fira-mono{
  font-family: 'Fira Mono';
}

.main-name {
  color:transparent;
  -webkit-background-clip:text;
  background-clip:text;
  background-image: linear-gradient(to right, #4A90E2, #50E3C2);

}